body {
  font-family: "Manrope", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #6C6C6C;
}

.navbar {
  background-color: #fff;
  padding: 15px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.navbar .container {
  width: 60%;
}
.navbar .navbar-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar .navbar-nav .nav-link {
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}
.navbar .navbar-nav .nav-link:hover {
  color: #081772;
}
@media (max-width: 992px) {
  .navbar .navbar-nav {
    flex-direction: column;
    text-align: center;
  }
}

.footer {
  background-color: #081772;
  color: #fff;
  padding: 60px 0;
  text-align: center;
}
.footer h4 {
  font-size: 1.75rem;
  margin-bottom: 20px;
  color: #fff;
}
.footer form {
  margin-bottom: 30px;
}
.footer form input {
  width: 100%;
  max-width: 300px;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.footer form button {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  border-radius: 5px;
}
.footer form button:hover {
  border-radius: 32px;
  background-color: transparent;
}
.footer .row {
  margin-top: 30px;
  font-size: 1rem;
}
.footer .row .col-md-4 {
  margin-bottom: 10px;
  color: #fff;
}

.btn, .navbar .navbar-nav .btn {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border-color: #081772;
  transition: all 0.3s ease;
}
.btn.btn-primary, .navbar .navbar-nav .btn-primary.btn {
  background-color: #081772;
  color: #fff;
}
.btn.btn-primary:hover {
  background-color: #0056b3;
  border-radius: 32px;
}
.btn.btn-outline-secondary, .navbar .navbar-nav .btn-outline-secondary.btn {
  color: #081772;
  border: 2px solid #081772;
  background-color: transparent;
}
.btn.btn-outline-secondary:hover {
  background-color: #081772;
  color: #fff;
  border-radius: 32px;
}
.btn.hero-btn, .navbar .navbar-nav .hero-btn.btn {
  color: #081772;
  border: 2px solid #081772;
  background-color: transparent;
}
.btn.hero-btn:hover {
  background-color: #081772;
  color: #fff;
  border-radius: 32px;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
  .hero-content {
    flex-direction: column;
    text-align: center;
  }
  .hero-content .hero-text {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .hero-content .hero-image {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .plan-img {
    width: 50%;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .plan-img {
    width: 40%;
  }
}

.hero {
  background-image: url(../../assets/Hero-imagen.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0;
}
.hero .hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .hero-content .hero-text {
  max-width: 50%;
}
.hero .hero-content .hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #081772;
}
.hero .hero-content .hero-text h4 {
  font-size: 32px;
  margin-bottom: 24%;
  font-weight: medium;
  color: #081772;
}
.hero .hero-content .hero-text p {
  font-size: 16px;
  margin-bottom: 24px;
  color: #6C6C6C;
}
.hero .hero-content .hero-image img {
  max-width: 100%;
  border-radius: 10px;
}

.features .feature-item h4 {
  color: #081772;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 24px;
}

.img-fluid {
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 70%;
}
.img-fluid:hover {
  transform: scale(1.05);
}

h4 {
  font-size: 24px;
  margin-bottom: 8%;
  font-weight: medium;
  color: #081772;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
