/* Variables de Color */
:root {
    --color-primary: #007BFF;
    --color-primary-light: #0056b3;
    --color-secondary: #6c757d;
    --color-background: #f8f9fa;
    --color-text: #333;
    --color-footer-bg: #f8f9fa;
    --color-footer-text: #333;
}

/* Variables de Tamaño */
:root {
    --font-size-base: 16px;
    --font-size-large: 18px;
    --font-size-xlarge: 40px;
    --padding-base: 10px;
    --padding-large: 12px;
    --margin-base: 10px;
    --margin-large: 20px;
}

/* Estilos Generales */
body {
    font-family: 'Manrope', sans-serif; /* Fuente primaria */
    margin: 0;
    padding: 0;
    color: var(--color-background);
    background-color: var(--color-background);
}

header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos de la barra de navegación */
.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-base);
}

.navbar .navbar-brand {
    margin-right: var(--margin-large);
}

.navbar .navbar-brand img {
    height: 40px;
}

.navbar .navbar-collapse {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar .navbar-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar .navbar-nav .nav-item {
    margin-left: var(--margin-base);
}

.navbar .navbar-nav .nav-item .nav-link {
    color: var(--color-text);
    font-size: var(--font-size-base);
    padding: var(--padding-base) var(--padding-large);
    transition: color 0.3s ease;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--color-primary);
}

.navbar .btn {
    background-color: var(--color-primary);
    color: #fff;
    padding: var(--padding-base) var(--padding-large);
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar .btn:hover {
    background-color: var(--color-primary-light);
}

/* Degradado para la sección main */
main {
    background: linear-gradient(to left, #f8f9fa, #ffff);
    padding: 20px;
    color: var(--color-text);
}

/* Estilos de la sección Hero */
.hero {
    background-color: var(--color-background);
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--margin-large);
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.hero-text {
    max-width: 600px;
    font-family: 'Inter', sans-serif; /* Fuente secundaria */
}

.hero-text h1 {
    font-family: 'Manrope', sans-serif; /* Fuente primaria para h1 */
    font-weight: bold;
    font-size: var(--font-size-xlarge);
    margin-bottom: var(--margin-large);
}

.hero-text p {
    font-size: var(--font-size-large);
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero-btn {
    background-color: var(--color-primary);
    color: #fff;
    padding: var(--padding-large) 30px;
    border-radius: 8px;
    text-decoration: none;
    font-size: var(--font-size-base);
    transition: background-color 0.3s ease;
}

.hero-btn:hover {
    background-color: var(--color-primary-light);
}

.hero-image img {
    width: 100%;
    border-radius: 10px;
}

/* Estilos del Footer */
.footer {
    background-color: var(--color-footer-bg);
    padding: var(--padding-base);
    text-align: center;
}

.footer h6 {
    margin: 0;
    font-size: 14px;
    color: var(--color-footer-text);
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-text {
        margin-bottom: 20px;
    }

    .navbar {
        padding: var(--padding-base);
    }

    .navbar .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}
