// Hero
.hero {
    background-image: url(../../assets/hero-image.png);
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    padding: 150px 0;              
    

    .hero-content {
        align-items: center;
        justify-content:center;

        .hero-text {
            max-width: 50%;
            margin-bottom: 24px;

            h1 {
                font-size: $font-size-xlarge;
                margin-bottom: 20px;
                font-weight: bold;
                color: $color-primary;
            }

            h4 {
                font-size: $font-size-large;
                margin-bottom: 24%;
                font-weight: medium;
                color: $color-primary;
            }

            p {
                font-size: $font-size-base;
                color: $color-text
            }
        }

        .hero-image img {
            max-width: 100%;
            border-radius: 10px;
        }
    }
}

.hero-home {
    background-image: none !important;
    background: linear-gradient(16deg, rgba(231,231,231,0.8596491228070176) 0%, rgba(255,255,255,1) 100%);
}

.features .feature-item h4 {
    color: $color-primary;
    font-weight: bold;
    font-size: $font-size-large;
    margin-bottom: 24px;
}


.img-fluid {
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 70%;

    &:hover {
        transform: scale(1.05);
    }
}
