// Estilos Generales
body {
    font-family: 'Manrope', sans-serif;
    background-color: $color-background;
    margin: 0;
    padding: 0;
    color: $color-text;
}

h4 {
    font-size: 24px;
    margin-bottom: 8%;
    font-weight: medium;
    color: $color-primary;
}
h1 {
    font-size: $font-size-xlarge;
    margin-bottom: 20px;
    font-weight: bold;
    color: $color-footer-text;
}
